{% extends 'layout/fullpage.html' %}

{% block title %}Home{% endblock %}
{% block body_class %}home-page{% endblock %}
{% block controller %}home{% endblock %}

{% block content %}
	<section id="home-section-1" class="section" style="background-image:url('img/carousel1.jpg')">
	</section>
	<section id="home-section-2" class="section p0">
	</section>
	<section id="home-section-3" class="section bg-gray-dark">
	</section>
	<section id="home-section-4" class="section pb0" style="background-image:url('img/bg-home-section-4.jpg')">
	</section>
{% endblock %} 